/* Bulma Customizations */

.card {
  height: 100% !important;
}

.fadeSlideTop-enter {
  opacity: 0;
  top: 50px;
}

.fadeSlideTop-enter-to {
  opacity: 1;
  top: 0;
}

.fadeSlideTop-enter-active {
  transition: all 0.5s;
}

/* Source: https://css-tricks.com/snippets/css/typewriter-effect/ */
.has-cursor {
  border-right: .1em solid #7bc62d;
  animation: cursor-blink .7s step-end infinite;
}

@keyframes cursor-blink {
  from, to { border-color: transparent }
  50% { border-color: #7bc62d }
}
